<%= form_for(@ubication) do |f| %>
  <% if @ubication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ubication.errors.count, "error") %> prohibited this ubication from being saved:</h2>

      <ul>
      <% @ubication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitud %><br>
    <%= f.text_field :latitud %>
  </div>
  <div class="field">
    <%= f.label :longitud %><br>
    <%= f.text_field :longitud %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
