<p id="notice"><%= notice %></p>

<h1>Listing Ubications</h1>

<table>
  <thead>
    <tr>
      <th>Latitud</th>
      <th>Longitud</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ubications.each do |ubication| %>
      <tr>
        <td><%= ubication.latitud %></td>
        <td><%= ubication.longitud %></td>
        <td><%= link_to 'Show', ubication %></td>
        <td><%= link_to 'Edit', edit_ubication_path(ubication) %></td>
        <td><%= link_to 'Destroy', ubication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ubication', new_ubication_path %>
