<p id="notice"><%= notice %></p>

<p>
  <strong>Latitud:</strong>
  <%= @ubication.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @ubication.longitud %>
</p>

<%= link_to 'Edit', edit_ubication_path(@ubication) %> |
<%= link_to 'Back', ubications_path %>
