<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <fieldset>
    <h4>Ubicación</h4>
    <%= f.fields_for :ubication do |ubication_fields|%>
      <div class="field">
        <%= ubication_fields.label :latitud %>
        <%= ubication_fields.text_field :latitud %>
      </div>
      <div class="field">
        <%= ubication_fields.label :longitud %>
        <%= ubication_fields.text_field :longitud %>
      </div>
      <div class="field">
        <%= ubication_fields.check_box :_destroy %>
        <%= ubication_fields.label :_destroy, 'remove' %>
      </div>  
       <a class="" onclick="geolocalizar()">
        --> Mi Ubicación <--
       </a>    
    <% end %>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
