<script type="text/javascript">
    var map;
    $(document).ready(function(){
      map = new GMaps({
        el: '#map',
        lat: $("#latitud").val(),
        lng: $("#longitud").val()
      });
      /*
      map.addMarker({
        lat: -12.043333,
        lng: -77.03,
        title: 'Lima',
        details: {
          database_id: 42,
          author: 'HPNeo'
        },
        click: function(e){
          if(console.log)
            console.log(e);
          alert('You clicked in this marker');
        },
        mouseover: function(e){
          if(console.log)
            console.log(e);
        }
      });*/
      map.addMarker({
        lat: $("#latitud").val(),
        lng: $("#longitud").val(),
        title: 'Marker with InfoWindow',
        infoWindow: {
          content: '<h3>Etiqueta html</h3>'
        }
      });
    });
</script>
