<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&language=es&region=MX&signed_in=true"></script>
<p id="notice"><%= notice %></p>
<p>
  <strong>Nombre:</strong>
  <%= @place.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @place.descripcion %>
</p>

<h4>Ubicación</h4>
<p>
	<strong id="latitud_label">Latitud:</strong>
	<%= @place.ubication.latitud %>
	<%= hidden_field_tag(:latitud, @place.ubication.latitud) %>
</p>
<p>
	<strong id="longitud_label">Longitud:</strong>
	<%= @place.ubication.longitud %>
	<%= hidden_field_tag(:longitud, @place.ubication.longitud) %>
</p>
<div class="contenedor">
	<div id="map"></div>
</div>
<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
<%= render "script" %>
